@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: Montserrat, sans-serif;
  background-color: #F7F6E9;
  color: "#22200C"
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
